h1 {
    font-size: 4vm;
    font-weight: bold;
}

h2 {
    font-size: 2vm;
    font-weight: lighter;
}

#formulaire {
    padding-top: 30px;
}

ion-button#entrer {
    padding-top: 10px;
}
.alert {
    color: red;
    text-align: center;
}
.button-center {
    color: red;
    text-align: center;
}
