
.grid-col {
    background: lightgrey;
    width: 11vw;
    height: 9vw;
  //  border-radius: 20px;
   
}
.grid-col-error {
    background: none;
    width: 11vw;
    height: 9vw;
 //   padding-left: 1vh;
}
.grid-header {
    background: #d5d900;
    width: 11vw;
    height: 9vw;
  //  border-radius: 20px;
}
.days {
    text-align: center;
    // padding-top: 9px;
    font-size: 3vw;
}
.dayNum {
    text-align: right;
   // padding-top: 5px;
   // padding-right: 10px;
    font-size: 5vw;
}