
.grid-col {
    background: lightgrey;
   height: 9vw;
   border-radius: 10px;
   padding-right: 1vw;
   
}
.grid-today{
    background: lightsalmon;
   height: 9vw;
   border-radius: 10px;
   padding-right: 1vw;
}
.grid-col-error {
    background: none;
    height: 9vw;
}
.month {
    font-size: 4vw;
    padding: none;
}
.grid-header {
    background: #d5d900;
    height: 4vw;
    padding-top: 0.9vw;
    border-radius: 20px;
}
.grid-days-row {
    --ion-grid-columns: 7;
    
}
.event {
    font-size: 1vw;
    padding-left: 1vw;
    cursor: pointer;
}
.days {
    text-align: center;
    font-size: 2.2vw;
}
.dayNum {
    text-align: right;
    font-size: 4vw;
}
