<ion-header>
    <ion-toolbar>
        <ion-title>Global Calendar</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row justify-content-center>
        <ion-col align-self-center>
            <!-- ADD TO BUTTON IF WANT TO LIMIT CALENDAR SCOPE[disabled]="!canChangeNavMonth(-1)" -->
            <ion-button shape="round" color="dark" fill="outline" (click)="changeNavMonth(-1, 'month')">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
            &nbsp;{{navDate.format('MMMM YYYY')}}&nbsp;
            <!--</button>[disabled]="!canChangeNavMonth(1)" -->
            <ion-button shape="round" color="dark" fill="outline" (click)="changeNavMonth(1, 'month')">
                <ion-icon name="arrow-forward"></ion-icon>
            </ion-button>
        </ion-col>
    </ion-row>

    <ion-grid>
        <ion-row no-wrap>
            <ion-col *ngFor='let day of days'>
                <div class="grid-header">
                    <div class="days"> {{day}}</div>
                </div>

            </ion-col>

        </ion-row>
        <ion-row>
            <ion-col *ngFor="let dNum of dayNumber" [class.is-disabled]="!dNum.available">
                <div class="grid-col" [class.grid-col-error]="dNum.value === 0">
                    <div class="dayNum" *ngIf="dNum.value !== 0"> {{dNum.value}}</div>
                    <div *ngIf="dNum.value === 0"></div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>